/* 
Regras responsividades
Regra 1 : ajustar unidades de medidas de fixo para flexivel utilizando rem. 
REM = Root EM */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  background: #ECE9FD;
  padding: 6.6rem 2.3rem;
  font-family: "Epilogue", sans-serif;
  font-size: 1.6rem;
  color: #0A0039;
  margin: 0;
}

main {
  max-width: 33.0rem;
  margin: 0 auto;
}

main p:first-child {
  line-height: 3.2rem;
  font-weight: normal;
  color: #7158EF;
  letter-spacing: 3px;
  width: 17.5rem;
  text-transform: uppercase;
  margin-bottom: 1.7rem;
}

p {
  color: rgba(10, 0, 57, 0.64);
  width: 32.9rem;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 3.2rem;
  margin-bottom: 2.4rem;
}

h1 {
  font-size: 4.0rem;
  line-height: 4.8rem;
  font-weight: 800;
  margin-bottom: 2.3rem;
  width: 32.9rem;
}

a {
  text-decoration: none;
  color: #0A0039;
}

a:hover {
  color: #a9a0d2;
  font-weight: bold;
}

ul {
  list-style: none;
  margin-top: 7.7rem;
}

ul li {
  max-width: 25.7rem;
  margin-bottom: 4.8rem;
  display: flex;
  gap: 3.8rem;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.2rem;
  align-items: center;
}

li:first-child {
  gap:5.2rem;

}
ul li span {
  font-weight: 800;
  font-size: 7.2rem;
  line-height: 8.0rem;
  letter-spacing: -2px;
}










@media (min-width: 700px) {


  body{
    padding: 8rem; 
  }

  main {
    max-width: 1021px;
    display: flex;
    gap: 10rem
  }
  main > div {
    max-width: 484px;
  }
  
  p {
    width: 48.4rem;
  }

  li:first-child {
    gap:6.6rem;
  
  }

  ul li {
    gap:5.3rem;
    max-width: 450px;
    align-items: center;
  }

  ul li + li {
    margin-top: 3.2rem;
  }



}